<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581896693486-igio4q82e1jj5lt6ficidv3n9di4o7ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581896693486-igio4q82e1jj5lt6ficidv3n9di4o7ua</string>
	<key>API_KEY</key>
	<string>AIzaSyCKE0NvRlW0phYHc86BK6xAdodUhOLPAHo</string>
	<key>GCM_SENDER_ID</key>
	<string>581896693486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yesser.yes.myproj</string>
	<key>PROJECT_ID</key>
	<string>myflutproject</string>
	<key>STORAGE_BUCKET</key>
	<string>myflutproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581896693486:ios:41359f8e0551500772f5ff</string>
</dict>
</plist>